.header{
  height: 65px;
  
  top:0;
  left: 0;
  right:0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style:solid;
  border-bottom-color:rgb(190, 190, 190);
  z-index:100;
}

.paragraph{  
  background-color: white;
  margin-left: 20px;
  margin-top: 20px;

}

.Logo_full{
  height: 60px;
  margin-top: 2px;
}

.hidden{
  display:none;
}

.left-section{

  display:flex;
  align-items: center;
}

.hamburger-menu{
  height:30px;
  margin-left: 24px;
  margin-right: 20px;
}