* {
  margin: 0;
  padding: 0;
  font-family: "Archivo Narrow", sans-serif;
  box-sizing: border-box;
  color: rgba(49, 49, 49, 0.87);
}

.headerContainer {
  display: flex;
  height: 65px;
  border-bottom: 1px solid rgb(190, 190, 190);
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.center-section {
  flex-grow: 1;
  text-align: center;
  height: 15px;
}

.Company-section {
  display: flex;
  text-align: center;
  height: 15px;
}

.right-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 40px;
  margin-left: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.Logo_full {
  height: 60px;
  margin-top: 2px;
}

.Logo_Company {
  display: flex;
  height: 60px;
  margin-top: 2px;
  margin-right: 15px;
  cursor: pointer;
}

.Company_Name {
  display: block;
  font-size: 30px;
  padding-top: 1%;
  margin-right: 15px;
}

.Page_Name {
  display: block;
  font-size: 30px;
  padding-top: 15px;
}

.User_Name {
  font-size: 20px;
  padding-right: 10px;
  padding-top: 10px;
}

.User_Title {
  font-size: 15px;
  font-family: "Archivo Narrow", sans-serif;
}

.Logo_User {
  height: 60px;
  padding-right: 10px;
  border-radius: 30px;
  cursor: pointer;
}
