.header {
  display: flex;
  height: 65px;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(190, 190, 190);
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.center-section {
  flex-grow: 1;
  text-align: center;
  height: 15px;
}

.right-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 30px;
  margin-left: 24px;
  margin-right: 20px;
}

.Logo_full {
  height: 60px;
  margin-top: 2px;
}

.Page_Name {
  font-size: 30px;
}

.User_Name {
  font-size: 20px;
}

.Logo_User {
  height: 60px;
  margin-top: 50 px;
  margin-right: 100 px;
  border-radius: 30px;
}

.hidden {
  display: none;
}

.paragraph {
  background-color: white;
  margin-left: 20px;
  margin-top: 20px;
}
