@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: grey;
}
.wrapper {
  width: 424px;
  height: 600px;
  background: white;
  position: relative;
  padding: 30px 40px;
}
.border-design {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.border-design .c1,
.border-design .c2,
.border-design .c3,
.border-design .c4,
.border-design .c5 {
  width: 30px;
  height: 10px;
}
.c1,
.c5 {
  background-color: orange;
}
.c2 {
  background-color: rgb(75, 166, 251);
}
.c3 {
  background-color: yellow;
}
.c4 {
  background-color: rgb(247, 131, 7);
}
.border-design.top {
  position: absolute;
  top: 0;
  right: 0;
}
.border-design.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  flex-direction: row-reverse;
}
.quote-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.logo {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -1px;
}
.logo span {
  font-weight: 400;
}
.title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  text-align: right;
}
.quo-number,
.quo-date {
  display: flex;
  justify-content: space-between;
}
.quo-number {
  padding: 10px 45px 0 0;
}
.quo-date {
  padding: 10px 0 0 45px;
}
.quo-number h3,
.quo-date h3 {
  font-weight: 700;
  font-size: 12px;
}

.quo-number h4,
.quo-date h4 {
  font-size: 12px;
  font-weight: 500;
}

.billing-detail {
  margin-top: 15px;
}
.billing-detail p:nth-child(1),
.billing-detail p:nth-child(2) {
  text-transform: uppercase;
}
.billing-detail p:nth-child(1) {
  font-size: 10px;
}
.billing-detail p:nth-child(2) {
  font-size: 12px;
  font-weight: 700;
  width: 150px;
  border-bottom: 1px solid darkgrey;
  margin-bottom: 5px;
}
.billing-detail p:nth-child(3),
.billing-detail p:nth-child(4),
.billing-detail p:nth-child(5) {
  width: 150px;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}
.billing-detail p span {
  font-weight: 600;
}
table {
  border-collapse: collapse;
  font-size: 12px;
  width: 100%;
  margin-top: 20px;
}
table thead tr td {
  text-align: center;
  font-weight: 600;
  padding: 5px 5px;
}
table tbody td {
  padding: 5px 5px;
  text-align: center;
}
.l-col {
  text-align: left;
}
.r-col {
  text-align: right;
}
table tbody tr:nth-child(odd) {
  background: white;
}
table tbody tr:nth-child(even) {
  background: rgb(255, 248, 248);
  border-bottom: 1px solid darkgrey;
  border-top: 1px solid darkgrey;
}
.total-section {
  position: absolute;
  right: 40px;
  font-size: 12px;
  width: 160px;
  margin-top: 5px;
  padding-top: 5px;
}
.sub,
.tax,
.total {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.total {
  border-top: 1px solid darkgrey;
  padding-top: 5px;
}
.sub p:nth-child(1),
.tax p:nth-child(1),
.total p {
  font-weight: 600;
}
.payment-terms {
  position: absolute;
  bottom: 30px;
  width: 45%;
}
.payment-detail {
  margin-bottom: 8px;
}
.payment-detail p:nth-child(1) {
  font-size: 12px;
  font-weight: 700;
  width: 150px;
}
.payment-detail p:nth-child(2),
.payment-detail p:nth-child(3),
.payment-detail p:nth-child(4) {
  width: 150px;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
.payment-detail p span {
  font-weight: 600;
}
.terms p:nth-child(1) {
  font-size: 12px;
  font-weight: 700;
  width: 150px;
}
.terms {
  margin-bottom: 20px;
}
.terms p:nth-child(2) {
  font-size: 10px;
}
.message p {
  font-size: 12px;
  font-weight: 700;
}
.signature p {
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  right: 40px;
  bottom: 30px;
  border-top: 1px solid darkgrey;
}
